.app {
    height: 100vh;
    width: 100vw;
    font-family: var(--MainFont);
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
    grid-template-rows: repeat(8, 1fr);
    column-gap: 2%;
}

.canvas-container {
    grid-column: 3/4;
    grid-row: 1/7;
}

#canvas {
    margin-top: 10%;
    border-radius: 50%;
    box-shadow: 13px -10px 35px 12px var(--BrightBlue);
}

.header-container {
    margin-top: 5%;
    grid-column: 1/3;
    grid-row: 1/2;
    text-align: center;
}

.header-container > h1 {
    font-family: var(--TitleFont);

    font-size: 9.5rem;
}

.icons-container {
    grid-column: 1/3;
    grid-row: 2/3;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20%;
}

.control-btn-container {
    grid-column: 1/2;
    grid-row: 3/4;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 3%;
}

.preset-container {
    grid-column: 2/3;
    grid-row: 3/4;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.footer-container {
    grid-column: 1/4;
    grid-row: 7/9;
    width: 100vw;
    color: var(--Orange);
    font-size: 4rem;
    text-align: center;
    background-image: url('/src/assets/images/footer.svg');
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0px -32px 33px -4px var(--Pink);
}

.rules-container {
    grid-column: 1/3;
    grid-row: 6/8;
    z-index: 3;
    display: flex;
    justify-content: center;
}

.speed-container {
    grid-column: 1/3;
    grid-row: 4/5;
    display: flex;
    justify-content: center;
    color: var(--Orange);
    font-size: 2rem;
}

.speed-container h3 {
    align-self: flex-end;
}

/* Speed Slider */
input[type='range'] {
    -webkit-appearance: none;
}

input[type='range']:focus {
    outline: none;
}

input[type='range']::-webkit-slider-runnable-track {
    background: var(--FadedPink);
    height: 0.25rem;
}

input[type='range']::-moz-range-track {
    background: var(--FadedPink);
    height: 0.25rem;
}

/* thumb */
input[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 1.5rem;
    width: 1.5rem;
    background: var(--Orange);
    margin-top: -7px;
    border-radius: 50%;
}

input[type='range']::-moz-range-thumb {
    height: 1.5rem;
    width: 1.5rem;
    background: var(--Orange);
    margin-top: -5px;
    border-radius: 50%;
}

.fa-play,
.fa-pause,
.fa-arrows-rotate {
    font-size: 2.5rem;
    color: var(--FadedPink);
}

.fa-play:hover,
.fa-pause:hover,
.fa-arrows-rotate:hover {
    color: var(--Pink);
}

.fa-linkedin-in,
.fa-github-alt {
    font-size: 4rem;
    color: hsla(187.3, 15.1%, 57.1%, 0.34);
}

.fa-linkedin-in:hover,
.fa-github-alt:hover {
    font-size: 4.5rem;
    color: var(--BrightBlue);
}

.control-button {
    width: 5rem;
    border-radius: 10px;
    height: 5rem;
    background-color: var(--DarkBlueBlack);
    border: 0.5px solid var(--FadedPink);
    text-align: center;
}

.control-button:hover {
    border: 0.5px solid var(--Pink);
}

.neonText {
    color: #fff;
    text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff, 0 0 42px #5cecffff,
        0 0 82px #5cecffff, 0 0 92px #5cecffff, 0 0 102px #5cecffff,
        0 0 151px #5cecffff;
}

.neonText {
    animation: flicker 1.5s infinite alternate;
    color: var(--BrightBlue);
}

@keyframes flicker {
    0%,
    18%,
    22%,
    25%,
    53%,
    57%,
    100% {
        text-shadow: 0 0 4px #fff, 0 0 40px #5cecffff, 0 0 80px #5cecffff,
            0 0 90px #5cecffff, 0 0 100px #5cecffff, 0 0 150px #5cecffff;
    }

    20%,
    24%,
    55% {
        text-shadow: none;
    }
}

/* .gen {
    min-width: 18rem;
    padding: 0 1rem;
    font-size: 3rem;
    color: var(--Orange);
    height: auto;
    text-align: center;
}

.gen h4 {
    min-width: 18rem;
    text-align: end;
} */

.tooltip {
    position: relative;
}

.tooltip:before {
    content: attr(data-text);
    position: absolute;
    font-size: 2rem;
    transform: translate(-60px, -70px);

    /* basic styles */
    width: 10rem;
    padding: 0.5rem;
    border-radius: 8px;
    color: var(--Pink);
    text-align: center;
    display: none; /* hide by default */
}

.tooltip:hover:before {
    display: block;
}

.dropdown {
    position: relative;
}

.menu {
    position: absolute;
    list-style-type: none;
    padding: 0;
    max-height: 20rem;
    min-width: 16rem;
    overflow-y: scroll;
    scrollbar-color: var(--FadedPink) var(--DarkBlueGrey);
    scrollbar-width: none;
}

.preset-button {
    min-width: 15rem;
    min-height: 5rem;
    font-size: 1.75rem;
    border-radius: 10px;
    background-color: var(--DarkBlueBlack);
    color: var(--FadedPink);
    border: 0.5px solid var(--FadedPink);
    text-align: center;
}

.preset-button:focus {
    border: 0.5px solid var(--Pink);
    color: var(--Pink);
    /* box-shadow: 5px 4px 9px #e03c8a; */
}
.menu-item {
    background-color: var(--DarkBlueBlack);
    color: var(--FadedPink);
    position: relative;
}

.menu-item button {
    width: 100%;
    font-size: 1.75rem;
    padding: 5%;

    color: var(--FadedPink);
    border-bottom: 0.5px dashed hsla(322, 100%, 69%, 0.21);
    text-align: start;
}
.menu-item > button:hover {
    color: var(--Pink);
}
